<div>
  <div class="flex justify-end py-4">
    <button
      (click)="openCreateCompanyDialog()"
      class="text-white bg-primary-600 hover:bg-primary focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-secondary"
    >
      {{ "company.create" | translate }}
    </button>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">
            {{ "company.nit" | translate }}
          </th>
          <th scope="col" class="px-6 py-3">
            {{ "company.name" | translate }}
          </th>
          <th scope="col" class="px-6 py-3">
            {{ "company.address" | translate }}
          </th>
          <th scope="col" class="px-6 py-3">
            {{ "company.phone" | translate }}
          </th>
          <th scope="col" class="px-6 py-3">
            {{ "company.actions" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="bg-white border-b hover:bg-gray-50"
          *ngFor="let company of companies"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ company.nit }}
          </th>
          <td class="px-6 py-4">{{ company.name }}</td>
          <td class="px-6 py-4">{{ company.address }}</td>
          <td class="px-6 py-4">{{ company.phone }}</td>
          <td class="px-6 py-4 flex justify-around">
            <button
              class="text-primary text-xl hover:text-secondary"
              (click)="openEditCompanyDialog(company)"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            <button
              class="text-primary text-xl hover:text-red-600"
              (click)="deleteCompany(company.nit)"
            >
              <fa-icon [icon]="faRemove"></fa-icon>
            </button>
            <a
              class="text-primary cursor-pointer text-xl hover:text-green-600"
              [routerLink]="['/dashboard/inventory', company.nit]"
            >
              <fa-icon [icon]="faInventory"></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <nav
      class="flex items-center justify-end px-4 py-2"
      aria-label="Table navigation"
    >
      <ul class="inline-flex items-center space-x-3">
        <li>
          <app-button
            color="secondary"
            [disabled]="disablePreviousPage"
            (click)="previousPage()"
            text="common.previous"
          ></app-button>
        </li>
        <li>
          <app-button
            color="secondary"
            [disabled]="!hasNextPage"
            (click)="nextPage()"
            text="common.next"
          ></app-button>
        </li>
      </ul>
    </nav>
  </div>
</div>
