<div [class]="classWrapper">
  <label
    [for]="controlName"
    class="block mb-2 text-sm font-medium text-gray-900"
    [ngClass]="{
      'text-red-500': isInvalid
    }"
    >{{ labelText | translate }}</label
  >
  <div class="relative">
    <input
      matInput
      *ngIf="!isTextAreaField"
      [type]="inputType"
      [name]="controlName"
      [id]="controlName"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:ring-1 focus:outline-none"
      [placeholder]="placeHolder"
      [formControl]="control"
      [ngClass]="{
        'border-red-500 bg-red-50 focus:ring-red-500 focus:border-red-600':
          isInvalid
      }"
    />
    <textarea
      *ngIf="isTextAreaField"
      [name]="controlName"
      [id]="controlName"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:ring-1 focus:outline-none"
      [placeholder]="placeHolder"
      [formControl]="control"
      [ngClass]="{
        'border-red-500 bg-red-50 focus:ring-red-500 focus:border-red-600':
          isInvalid
      }"
      rows="5"
    >
    </textarea>
    <fa-icon
      class="cursor-pointer absolute top-2.5 right-3"
      *ngIf="isPasswordVisible && isPasswordField"
      [icon]="faOpenEye"
      (click)="togglePasswordVisibility()"
    ></fa-icon>
    <fa-icon
      class="cursor-pointer absolute top-2.5 right-3"
      *ngIf="!isPasswordVisible && isPasswordField"
      [icon]="faCloseEye"
      (click)="togglePasswordVisibility()"
    ></fa-icon>
  </div>
  <div *ngIf="alreadySubmitted">
    <div
      *appErrorValidation="control; let error = error"
      class="text-sm text-red-500"
    >
      {{ error }}
    </div>
  </div>
</div>
