<section class="signUp bg-slate-100">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-14"
  >
    <div
      class="w-full bg-white rounded-xl shadow-xl md:mt-0 sm:max-w-2xl xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          {{ "auth.signUp.title" | translate }}
        </h1>
        <form
          [formGroup]="signupForm"
          (ngSubmit)="onSubmit()"
          class="space-y-4 md:space-y-6"
        >
          <div class="md:flex md:flex-row">
            <div class="md:basis-1/2 md:pr-2">
              <label
                for="firstName"
                class="block mb-2 text-sm font-medium text-gray-900"
                [ngClass]="{
                  'text-red-500':
                    alreadySubmitted &&
                    firstName.errors &&
                    (firstName.dirty || firstName.touched)
                }"
                >{{ "auth.signUp.firstName" | translate }}</label
              >
              <input
                type="firstName"
                name="firstName"
                id="firstName"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:ring-1 focus:outline-none"
                placeholder="myname"
                formControlName="firstName"
                [ngClass]="{
                  'border-red-500 bg-red-50 focus:ring-red-500 focus:border-red-600':
                    alreadySubmitted &&
                    firstName.errors &&
                    (firstName.dirty || firstName.touched)
                }"
              />
              <div *ngIf="alreadySubmitted">
                <div
                  *appErrorValidation="firstName; let error = error"
                  class="text-sm text-red-500"
                >
                  {{ error }}
                </div>
              </div>
            </div>
            <div class="pt-3 md:basis-1/2 md:pl-2 md:pt-0">
              <label
                for="lastName"
                class="block mb-2 text-sm font-medium text-gray-900"
                [ngClass]="{
                  'text-red-500':
                    alreadySubmitted &&
                    lastName.errors &&
                    (lastName.dirty || lastName.touched)
                }"
                >{{ "auth.signUp.lastName" | translate }}</label
              >
              <input
                type="lastName"
                name="lastName"
                id="lastName"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:ring-1 focus:outline-none"
                placeholder="lastName"
                formControlName="lastName"
                [ngClass]="{
                  'border-red-500 bg-red-50 focus:ring-red-500 focus:border-red-600':
                    alreadySubmitted &&
                    lastName.errors &&
                    (lastName.dirty || lastName.touched)
                }"
              />
              <div *ngIf="alreadySubmitted">
                <div
                  *appErrorValidation="lastName; let error = error"
                  class="text-sm text-red-500"
                >
                  {{ error }}
                </div>
              </div>
            </div>
          </div>
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
              [ngClass]="{
                'text-red-500':
                  alreadySubmitted &&
                  email.errors &&
                  (email.dirty || email.touched)
              }"
              >{{ "auth.signUp.email" | translate }}</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:ring-1 focus:outline-none"
              placeholder="name@company.com"
              formControlName="email"
              [ngClass]="{
                'border-red-500 bg-red-50 focus:ring-red-500 focus:border-red-600':
                  alreadySubmitted &&
                  email.errors &&
                  (email.dirty || email.touched)
              }"
            />
            <div *ngIf="alreadySubmitted">
              <div
                *appErrorValidation="email; let error = error"
                class="text-sm text-red-500"
              >
                {{ error }}
              </div>
            </div>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900"
              [ngClass]="{
                'text-red-500':
                  alreadySubmitted &&
                  password.errors &&
                  (password.dirty || password.touched)
              }"
            >
              {{ "auth.signUp.password" | translate }}
            </label>
            <div class="relative">
              <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                name="password"
                id="password"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:ring-1 focus:outline-none"
                formControlName="password"
                [ngClass]="{
                  'border-red-500 bg-red-50 focus:ring-red-500 focus:border-red-600':
                    alreadySubmitted &&
                    password.errors &&
                    (password.dirty || password.touched)
                }"
              />
              <fa-icon
                class="cursor-pointer absolute top-2.5 right-3"
                *ngIf="isPasswordVisible"
                [icon]="faOpenEye"
                (click)="togglePasswordVisibility()"
              ></fa-icon>
              <fa-icon
                class="cursor-pointer absolute top-2.5 right-3"
                *ngIf="!isPasswordVisible"
                [icon]="faCloseEye"
                (click)="togglePasswordVisibility()"
              ></fa-icon>
            </div>
            <div *ngIf="alreadySubmitted">
              <div
                *appErrorValidation="password; let error = error"
                class="text-sm text-red-500"
              >
                {{ error }}
              </div>
            </div>
          </div>
          <div>
            <label
              for="confirmPassword"
              class="block mb-2 text-sm font-medium text-gray-900"
              [ngClass]="{
                'text-red-500':
                  (alreadySubmitted &&
                    confirmPassword.errors &&
                    (confirmPassword.dirty || confirmPassword.touched)) ||
                  (hasMatchError &&
                    (confirmPassword.dirty || confirmPassword.touched))
              }"
            >
              {{ "auth.signUp.confirmPassword" | translate }}
            </label>
            <div class="relative">
              <input
                [type]="isPasswordVisible ? 'text' : 'password'"
                name="confirmPassword"
                id="confirmPassword"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5 focus:ring-1 focus:outline-none"
                formControlName="confirmPassword"
                [ngClass]="{
                  'border-red-500 bg-red-50 focus:ring-red-500 focus:border-red-600':
                    (alreadySubmitted &&
                      confirmPassword.errors &&
                      (confirmPassword.dirty || confirmPassword.touched)) ||
                    (hasMatchError &&
                      (confirmPassword.dirty || confirmPassword.touched))
                }"
              />
            </div>
            <div *ngIf="alreadySubmitted">
              <div
                *appErrorValidation="confirmPassword; let error = error"
                class="text-sm text-red-500"
              >
                {{ error }}
              </div>
            </div>
            <div
              *ngIf="
                hasMatchError &&
                (confirmPassword.dirty || confirmPassword.touched)
              "
              class="text-sm text-red-500"
            >
              {{ "auth.signUp.confirmPasswordMatch" | translate }}
            </div>
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="termsAndCondition"
                  aria-describedby="termsAndCondition"
                  formControlName="termsAndCondition"
                  type="checkbox"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                />
              </div>
              <div class="ml-3 text-sm">
                <label for="termsAndCondition" class="text-gray-500">{{
                  "auth.signUp.termsAndCondition" | translate
                }}</label>
              </div>
            </div>
            <a
              href="#"
              class="text-sm font-medium text-primary-600 hover:underline"
              >{{ "auth.signUp.forgotPassword" | translate }}</a
            >
          </div>
          <button
            type="submit"
            [disabled]="signupForm.invalid || !termsAndCondition.value"
            class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-secondary"
            [ngClass]="{
              'opacity-20 cursor-not-allowed':
                signupForm.invalid || !termsAndCondition.value
            }"
          >
            {{ "auth.signUp.submit" | translate }}
          </button>
          <p class="text-sm font-light text-gray-500">
            {{ "auth.signUp.haveAccount" | translate }}
            <a
              [routerLink]="['/auth/login']"
              class="font-medium text-primary-600 hover:underline"
              >{{ "auth.signUp.login" | translate }}</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
