<footer class="bg-white rounded-lg shadow-md mt-auto">
  <div class="py-10 px-5 sm:flex sm:items-center sm:justify-between">
    <a
      href="https://revstarconsulting.com/"
      target="_blank"
      class="flex items-center mb-4 sm:mb-0"
    >
      <img
        src="assets/images/logo-blue.png"
        class="h-8 mr-3"
        alt="Flowbite Logo"
      />
    </a>
    <span class="text-sm text-gray-500 sm:text-center"
      >© 2023
      <a href="https://revstarconsulting.com/" class="hover:underline"
        >Revstar™</a
      >. All Rights Reserved.
    </span>
    <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
      <a
        href="https://www.facebook.com/RevStarConsulting/"
        target="_blank"
        class="text-gray-500 hover:text-gray-900"
      >
        <fa-icon [icon]="faFacebook"></fa-icon>
        <span class="sr-only">Facebook page</span>
      </a>
      <a
        href="https://twitter.com/revstarinc"
        target="_blank"
        class="text-gray-500 hover:text-gray-900"
      >
        <fa-icon [icon]="faTwitter"></fa-icon>
        <span class="sr-only">Twitter page</span>
      </a>
      <a
        href="https://www.linkedin.com/company/revstar-consulting/"
        target="_blank"
        class="text-gray-500 hover:text-gray-900"
      >
        <fa-icon [icon]="faLinkedin"></fa-icon>
        <span class="sr-only">Twitter page</span>
      </a>
    </div>
  </div>
</footer>
