<section class="login bg-slate-100">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-20"
  >
    <div
      class="w-full bg-white rounded-xl shadow-xl md:mt-0 sm:max-w-md xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          {{ "auth.login.title" | translate }}
        </h1>
        <form
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()"
          class="space-y-4 md:space-y-6"
        >
          <app-input
            [alreadySubmitted]="alreadySubmitted"
            [control]="email"
            controlName="email"
            labelText="auth.login.email"
            type="text"
            placeHolder="name@company.com"
            classWrapper="mb-4"
          ></app-input>
          <app-input
            [alreadySubmitted]="alreadySubmitted"
            [control]="password"
            controlName="password"
            labelText="auth.login.password"
            type="password"
            placeHolder="••••••••"
          ></app-input>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input
                  id="remember"
                  aria-describedby="remember"
                  formControlName="rememberMe"
                  type="checkbox"
                  class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300"
                />
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500">{{
                  "auth.login.rememberMe" | translate
                }}</label>
              </div>
            </div>
            <!-- <a
              href="#"
              class="text-sm font-medium text-primary-600 hover:underline"
              >{{ "auth.login.forgotPassword" | translate }}</a
            > -->
          </div>
          <app-button
            color="primary"
            [disabled]="loginForm.invalid"
            [isLoading]="isLoading"
            [isFullWidth]="true"
            type="submit"
            text="auth.login.submit"
          ></app-button>
          <p class="text-sm font-light text-gray-500">
            {{ "auth.login.dontHaveAccount" | translate }}
            <a
              [routerLink]="['/auth/signup']"
              class="font-medium text-primary-600 hover:underline"
              >{{ "auth.login.signUp" | translate }}</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
