<button
  mat-icon-button
  (click)="sidenav.toggle()"
  matTooltip="Menu"
  class="absolute z-50 top-5 text-white left-5"
>
  <mat-icon>menu</mat-icon>
</button>

<mat-sidenav-container class="app-container h-screen">
  <mat-sidenav
    #sidenav
    mode="side"
    opened="true"
    [class.mat-elevation-z4]="true"
    class="app-sidenav"
  >
    <aside
      id="cta-button-sidebar"
      class="w-64 h-screen transition-transform"
      aria-label="Sidebar"
    >
      <div class="h-full px-3 py-4 overflow-y-auto bg-white">
        <ul class="space-y-2 font-medium">
          <li>
            <a
              [routerLink]="['/dashboard/companies']"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100"
            >
              <svg
                aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                ></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">{{
                "dashboard.companies" | translate
              }}</span>
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/dashboard/products']"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100"
            >
              <svg
                aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">{{
                "dashboard.products" | translate
              }}</span>
            </a>
          </li>
        </ul>
        <div
          id="dropdown-cta"
          class="p-4 mt-6 rounded-lg bg-blue-50"
          role="alert"
        >
          <div class="flex items-center mb-3">
            <span
              class="bg-orange-100 text-orange-800 text-sm font-semibold mr-2 px-2.5 py-0.5 rounded"
              >Beta</span
            >
          </div>
          <p class="mb-3 text-sm text-blue-800">
            {{ "dashboard.underConstruction" | translate }}}
          </p>
        </div>
        <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200">
          <li>
            <button
              (click)="logout()"
              class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100"
            >
              <fa-icon [icon]="faLogout"></fa-icon>
              <span class="flex-1 ml-3 whitespace-nowrap">{{
                "dashboard.logout" | translate
              }}</span>
            </button>
          </li>
        </ul>
      </div>
    </aside>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="grow p-10"><router-outlet></router-outlet></div>
  </mat-sidenav-content>
</mat-sidenav-container>
